* {box-sizing: border-box;}
body { margin: 0; height: fit-content}

.large {
    display: none;
}

body * {
    overflow: hidden;
}

header, nav {
    width: 100%;
}

main {
    width: 90%;
    margin: 30px auto;
}

.bottom {
    margin: 0;
    height: 70px;
}

header { height: 70vh;}

h1 {
    font-size: 3em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20vh;
}

header img {
    width: 100%;
}

/******************* Nav ************************/
nav {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 100%;
}

nav a:link, nav a:visited {
    color: whitesmoke;
    font-size: 1.3em;
}

nav a:hover {
    color: #D4AF37;
}

.card {
    width: 100%;
    background-color: #75B9BE;
    height: 30vh;
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 30px;
}

.card-header {
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.card-text {
    width: 60%;
    height: 100%;
}

.card-body {
    width: 90%;
    margin: auto;
    height: 80%;
}

.card-footer button {
    width: 90%;
    margin: auto;
    display: block;
    background-color: #121931;
    color: white;
    border: solid;
}

@media screen and (min-width: 500px)  {
    nav {
        position: sticky;
        top: 0;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav li {
        margin-left: 30px;
    }

    header {
        height: auto;
    }

    header img {
        height: auto;
    }
    .card {
        display: block;
        height: 45vh;
        width: 45%;
    }

    .card-text {
        width: 90%;
        height: 55%;
        margin: auto;
    }

    .card-header {
        width: 100%;
        height: 45%;
    }

    .card-body {
        width: 100%;
        height: 80%;
    }

    .card-footer {
        width: 100%;
        height: 20%;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .large {
        display: block;
    }

    .small {
        display: none;
    }
}

@media screen and (min-width: 1000px){
    .card {
        width: 30%;
    }

    main, nav ul {
        width: 75%;
    }
}
